{% extends 'Blogs/index.html' %}

{% block blog-content %}
{% include 'snippets/breadcrumbs.html' with title='Blogs' current_title='Blogs'%}
<!-- Blog List -->
{% load thumbnail %}
<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="row">
                    {% for object in object_list %}
                    <div class="col-lg-4 col-md-4">
                        <div class="card blog-card">
                            <a href="{% url 'blog_detail' slug=object.slug %}">

                                {% thumbnail object.image "800x800" crop="center" as im %}
                                <img class="card-img-top" src="{{ im.url }}">
                                {% endthumbnail %}
                                <div class="card-body">

                                    <h6>{{object.title}}</h6>
                                    <p class="mb-0">{{object.text|truncatewords:50|safe}}</p>
                                </div>
                                <div class="card-footer">
                                    <strong>Manland</strong> On {{object.created_at}}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}

                </div>


                <nav class="mt-5">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1"><i
                                    class="mdi mdi-chevron-left"></i></a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                href="?page={{page_obj.previous_page_number}}">{{page_obj.previous_page_number}}</a>
                        </li>
                        {% endif %}
                        <li class="page-item active"><a class="page-link">{{page_obj.number}}</a></li>

                        {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link"
                                href="?page={{page_obj.next_page_number}}">{{page_obj.next_page_number}}</a></li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{page_obj.next_page_number}}"><i
                                    class="mdi mdi-chevron-right"></i></a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock blog-content %}