<section class="section-padding">
   <div class="section-title text-center mb-5">
      <h2>Choose a Plans</h2>
      <p>Upgrade your space for higher rankings, powerful features & more ways<br>to connect with potential
         customers.
      </p>
   </div>
   <div class="container">
      <div class="row">
         <div class="col-md-3">
            <div class="card">
               <!-- Header -->
               <header class="card-header text-center p-5 border-0">
                  <h4 class="h6 text-danger mb-2">Assign Property</h4>
                  <span class="d-block">
                     <span class="display-4 text-dark font-weight-normal">

                     </span>

                  </span>
               </header>
               <!-- End Header -->
               <!-- Content -->
               <div class="card-body p-4">
                  <ul class="list-group list-group-flush mb-4">
                     <li class="list-group-item py-2 px-0 border-0"><i
                           class="mdi mdi-check-circle-outline text-success mr-1"></i> Assign the sale or inconvenience
                        of your property to a professional broker and save time and effort.</li>
                     <li class="list-group-item py-2 px-0 border-0"><i
                           class="mdi mdi-check-circle-outline text-success mr-1"></i>Create an account and be our
                        member</li>
                     <li class="list-group-item py-2 px-0 border-0"><i
                           class="mdi mdi-check-circle-outline text-success mr-1"></i> Communicate with the best agents
                     </li>
                  </ul>
                  <a href="{% url 'account_signup' %}" <button type="button" class="btn btn-block btn-light"
                     tabindex="0">More</button></a>
               </div>
               <!-- End Content -->
            </div>
         </div>
         <div class="col-md-3">
            <div class="card">
               <!-- Header -->
               <header class="card-header text-center p-5 border-0">
                  <h4 class="h6 text-warning mb-2">Email Alerts</h4>
                  <span class="d-block">
                  </span>
               </header>
               <!-- End Header -->
               <!-- Content -->
               <div class="card-body p-4">
                  <ul class="list-group list-group-flush mb-4">
                     <li class="list-group-item py-2 px-0 border-0"><i
                           class="mdi mdi-check-circle-outline text-success mr-1"></i> Community support</li>
                     <li class="list-group-item py-2 px-0 border-0"><i
                           class="mdi mdi-check-circle-outline text-success mr-1"></i>Select the Email Alerts service
                        and you will receive daily informative emails with the new properties registered in
                        {{ site_name }} that meet your search criteria.</li>
                  </ul>
               </div>
               <!-- End Content -->
            </div>
         </div>
         <div class="col-md-3">
            <div class="card">
               <!-- Header -->
               <header class="card-header text-center p-5 border-0">
                  <h4 class="h6 text-success mb-2">Offers from professionals</h4>
                  <span class="d-block">
                  </span>
               </header>
               <!-- End Header -->
               <!-- Content -->
               <div class="card-body p-4">
                  <ul class="list-group list-group-flush mb-4">
                     <li class="list-group-item py-2 px-0 border-0"><i
                           class="mdi mdi-check-circle-outline text-success mr-1"></i> Get offers from companies for
                        relocations and choose the one that suits you.</li>
                     <li class="list-group-item py-2 px-0 border-0"><i
                           class="mdi mdi-check-circle-outline text-success mr-1"></i> renovations and technical works
                     </li>
                     <li class="list-group-item py-2 px-0 border-0"><i
                           class="mdi mdi-check-circle-outline text-success mr-1"></i> issuance of energy certificates
                     </li>

                  </ul>

               </div>
               <!-- End Content -->
            </div>
         </div>
         <div class="col-md-3">
            <div class="card">
               <!-- Header -->
               <header class="card-header text-center p-5 border-0">
                  <h4 class="h6 text-danger mb-2">Advertising in manland</h4>
                  <span class="d-block">

                     <span class="d-block text-secondary font-size-1">no user limit</span>
                  </span>
               </header>
               <!-- End Header -->
               <!-- Content -->
               <div class="card-body p-4">
                  <ul class="list-group list-group-flush mb-4">
                     <li class="list-group-item py-2 px-0 border-0"><i
                           class="mdi mdi-check-circle-outline text-success mr-1"></i> Community support</li>
                     <li class="list-group-item py-2 px-0 border-0"><i
                           class="mdi mdi-check-circle-outline text-success mr-1"></i> Advertise your business on the
                        No. 1 real estate classifieds website.</li>

                  </ul>

               </div>
               <!-- End Content -->
            </div>
         </div>
      </div>
   </div>
</section>