{% extends "account/base.html" %}

{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<section class="hv-100">
    <div class="container hv-100">
        <div class="row align-items-center hv-100">
            <div class="col-lg-4 col-md-4 mx-auto">
                <div class="card padding-card mb-0">
                    <div class="card-body">
                        <h5 class="card-title mb-4">{% trans "Change Password" %}</h5>
                        <p>{% trans 'Your password is now changed.' %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}