<nav class="mt-5">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1"><i
                    class="mdi mdi-chevron-left"></i></a>
        </li>
        <li class="page-item">
            <a class="page-link"
                href="?page={{ page_obj.previous_page_number }}&{{ params.urlencode}}">{{ page_obj.previous_page_number }}</a>
        </li>
        {% endif %}

        <li class="page-item active"><a class="page-link"> {{page_obj.number}}</a></li>

        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link"
                href="?page={{ page_obj.next_page_number }}&{{ params.urlencode}}">{{page_obj.next_page_number}}</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}&{{ params.urlencode}}"><i
                    class="mdi mdi-chevron-right"></i></a>
        </li>
        {% endif %}
    </ul>
</nav>