{% extends 'UserProfile/index.html' %}

{% block profile-content %}
{% load thumbnail %}
<div class="col-lg-9 col-md-9">
    <div class="row">
        {% for object in object_list %}
        <div class="col-lg-12 col-md-12">
            <div class="card card-list card-list-view">
                <div class="row no-gutters">
                    <div class="col-lg-5 col-md-5">
                        <a href="{% url 'detail' object.slug %}">
                            <span
                                class="badge {% if object.status == 'rent' %}badge-success {% else %}badge-info{% endif %} ">For
                                {{object.get_status_display}}</span>
                            {% thumbnail object.image "800x800" crop="center" as im %}
                            <img class="card-img-top" src="{{ im.url }}">
                            {% endthumbnail %}
                        </a>
                    </div>

                    <div class="col-lg-7 col-md-7">
                        <div class="card-body">
                            <a href="{% url 'agent_update_property' pk=object.pk %}"> <span
                                    class="float-right text-success"><i class="mdi mdi-table-edit"></i> Edit</span></a>
                            <h5 class="card-title">{{object.title}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted"><i class="mdi mdi-home-map-marker"></i>
                                {{object.address}}</h6>
                            <h2 class="text-success mb-0 mt-3">
                                ${{object.price_display}}
                                {% if object.status == 'rent' %}<small>/month</small>{% endif %}
                            </h2>
                        </div>
                        <div class="card-footer">
                            <span><i class="mdi mdi-sofa"></i> Beds : <strong>{{object.bedrooms}}</strong></span>
                            <span><i class="mdi mdi-scale-bathroom"></i> Baths :
                                <strong>{{object.bathrooms}}</strong></span>
                            <span><i class="mdi mdi-move-resize-variant"></i> Area : <strong>{{object.area}} sq
                                    ft</strong></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
    {% include 'snippets/pagination_base.html' %}
</div>





{% endblock profile-content %}