  {% load listing_tags %}
  <div class="site_top_filter row">
      <div class="col-lg-6 col-md-6 tags-action">
      </div>
      <div class="col-lg-6 col-md-6 sort-by-btn float-right">
          <div class="view-mode float-right">
          </div>
          <div class="dropdown float-right">
             <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="mdi mdi-filter"></i> Sort by
         
              </button>
           
              <div class="dropdown-menu float-right" aria-labelledby="dropdownMenuButton">
                  
                  <a class="dropdown-item" href="{% url_query order_by='-created_at' %}"><i class="mdi mdi-chevron-right"></i> New </a>
                  <a class="dropdown-item" href="{% url_query order_by='created_at' %}"><i class="mdi mdi-chevron-right"></i> Old </a>
                  <a class="dropdown-item" href="{% url_query order_by='price' %}"><i class="mdi mdi-chevron-right"></i> Price: Low to
                      High </a>
                  <a class="dropdown-item" href="{% url_query order_by='-price' %}"><i class="mdi mdi-chevron-right"></i> Price: High to
                      Low </a>
              </div>
          </div>
      </div>
  </div>