{% extends 'UserProfile/index.html' %}
{% load static %}

{% block profile-content %}

<div class="col-lg-9 col-md-9">
    <form method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="card padding-card">
            <div class="card-body">
                {{form.as_p}}
            </div>
        </div>


        {% if user.is_agent %}
        <div class="card padding-card">
            <div class="card-body">
                <h5 class="card-title mb-4">Features</h5>
                <div class="row">
                    <div class="col-md-4">
                        {{feature_form.as_p}}
                    </div>
                </div>
            </div>
        </div>
        <div class="card padding-card">
            <div class="card-body">
                <h5 class="card-title mb-4">Images</h5>
                <div class="row">
                    <div class="col-md-4">
                        {{images_form.as_p}}
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'js/subcategory_form.js' %}"></script>
        {% endif %}

        <button type="submit" class="btn btn-success">UPDATE PROPERTY</button>

    </form>
    {% if user.is_agent %}
    <form method="POST" action="{% url 'agent_delete_property' pk=object.pk %}"> {% csrf_token %}
        <button class="btn btn-danger" type="submit" value="DELETE">Delete</button>
        <form>
            {% endif %}
</div>


{% endblock %}