<div class="card sidebar-card">
    <div class="card-body">
        <h5 class="card-title mb-4">Request a Showing</h5>
        <form name="sentMessage">
            <div class="control-group form-group">
                <div class="controls">
                    <label>Your Name <span class="text-danger">*</span></label>
                    <input type="text" placeholder="Enter Your Name" class="form-control" required>
                </div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    <label>Your Email <span class="text-danger">*</span></label>
                    <input type="text" placeholder="Enter Your Email" class="form-control" required>
                </div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    <label>Phone <span class="text-danger">*</span></label>
                    <input type="text" placeholder="Enter Phone Number" class="form-control" required>
                </div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    <label>Message <span class="text-danger">*</span></label>
                    <textarea rows="5" cols="50" class="form-control"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-success btn-block">SEND REQUEST</button>
        </form>
    </div>
</div>